/* anonymous-pro-regular - latin */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Anonymous Pro'), local('AnonymousPro'),
       url('../fonts/anonymous-pro-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/anonymous-pro-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/anonymous-pro-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/anonymous-pro-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/anonymous-pro-v9-latin-regular.svg#AnonymousPro') format('svg'); /* Legacy iOS */
}
/* anonymous-pro-700 - latin */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'),
       url('../fonts/anonymous-pro-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/anonymous-pro-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/anonymous-pro-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/anonymous-pro-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/anonymous-pro-v9-latin-700.svg#AnonymousPro') format('svg'); /* Legacy iOS */
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-image: url('../img/codeBaby.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Anonymous Pro';
}
header {
width: 100vw;
height: 9vh;
background-color: rgba(0, 0, 0, 0.5);
position: fixed;
}
h1, h2, h3, .bio, .nav-link {
  color: #fff;
}
.nav-link {
  text-decoration: none;
}
.nav {
  position: fixed;
  margin-bottom: 0;
}
li {
  display: inline;
  list-style: none;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
}
li a {
  float: left;
  padding: 2vh 3vh;
}
.hire-me {
  border: 1px solid #333555;
}
li a:hover, li a:focus {
  color: #333555;
  background-color: white;
}
a.hire-me:hover, a.hire-me:focus {
  background-color: #333555;
  color: white;
  list-style: none;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 18px;
}
h3 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  margin-top: 100px;
}
h4 {
  text-align: center;
  font-size: 24px;
}
.me {
  height: 150px;
  border-radius: 50%;
  border: 2px solid #333555;
}
.about {
  width: 400px;
  margin: 210px auto;
  text-align: center;
}
.grey {
  height: 3px;
  background: linear-gradient(140deg, #919191 50%, #eee 50% );
  border: none;
  width: 150px;
  border-radius: 5px;
}
img.github {
  margin-left: 25%;
  background-color: #b177;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.about-container {
  background: url('img/codeBaby.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}
.box {
  float: left;
  background-color: #B4DA55;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
  padding: 2vh;
}
.clear {
  clear: both;
}
.full-width {
  width: 100%;
}
.skills-and-tools {
  max-width: 400px;
  margin: 40px auto;
}
.icons {
  text-align: center;
  margin: 30px auto;
  background-color: #B4DA55;
}
.contact-info {
  color: white;
  font-size: 13px;
  margin: 20px;
}
.contact-link {
  color: white;
  font-weight: bold;
  font-size: 13px;
  background-color: #333555;
  padding: 1vh 3vh;
  margin: 5px auto;
}
footer {
padding: 2vh 0;
width: 100vw;
height: 150px;
text-align: center;
}
.space {
height: 150px;
width: 100vw;
}